name: Deploy to itch.io

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install bsdtar
        run: sudo apt-get update && sudo apt-get install -y libarchive-tools

      - name: Download Butler
        run: |
          curl -L https://broth.itch.ovh/butler/linux-amd64/LATEST/archive/default \
          | bsdtar -xvf- -C $HOME

      - name: Make Butler executable
        run: chmod +x $HOME/butler

      - name: Zip game files
        run: zip -r nebulite.zip .

      - name: Upload to itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.ITCH_IO_API_KEY }}
        run: $HOME/butler push nebulite.zip Badankan/nebulite:web
