name: Deploy Nebulite to itch.io

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Download Butler binary directly
      - name: Download Butler
        run: |
          curl -L -o $HOME/butler https://broth.itch.ovh/butler/linux-amd64/LATEST/archive/default/butler
          chmod +x $HOME/butler

      # Zip game files
      - name: Create ZIP
        run: zip -r nebulite.zip . -x ".git/*" -x ".github/*"

      # Login to itch.io
      - name: Login
        run: $HOME/butler login <<< "${{ secrets.ITCH_IO_API_KEY }}"

      # Upload to itch.io web channel
      - name: Upload
        run: $HOME/butler push nebulite.zip Badankan/nebulite:web
